name: Convert domain list
on:
  workflow_dispatch:
  schedule:
    - cron: "0 21 * * *"
  push:
    branches:
      - master
    paths-ignore:
      - "**/README.md"
jobs:
  build:
    name: Generate Domain List
    runs-on: ubuntu-latest
    steps:
      - name: Checkout rootmelo92118/blocked-by-taiwan
        uses: actions/checkout@v4
        with:
          repository: rootmelo92118/blocked-by-taiwan
          path: workspace
      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.10'
      - run: pip install requests dnspython
      - name: Set variables
        run: |
          echo "RELEASE_NAME=$(date +%Y%m%d%H%M%S)" >> $GITHUB_ENV
          echo "TAG_NAME=$(date +%Y%m%d%H%M%S)" >> $GITHUB_ENV
          echo "VERSION_NUMBER=$(date +%Y%m%d%H%M%S)" >> $GITHUB_ENV
          echo "BLOCKED_BY_165=https://filter.futa.gg/TW165_domains.txt" >> $GITHUB_ENV
        shell: bash
      - name: Generate TXT file
        run: |
          cd workspace || exit 1
          mkdir AdGuardHome
          touch resourceData.txt
          curl -sSL $BLOCKED_BY_165 >> resourceData.txt
          python3 domainScanner.py resourceData.txt ./blocked-by-taiwan.txt ./AdGuardHome/blocked-by-taiwan_AdGuard.txt ./AdGuardHome/blocked-by-taiwan_AdGuard_rewrote.txt 
          mv blocked-by-taiwan.txt ..
          mv AdGuardHome ..
          cd ../ && rm -rf workspace
      - name: Git push assets to "release" branch
        run: |
          git init
          git config --local user.name "github-actions[bot]"
          git config --local user.email "41898282+github-actions[bot]@users.noreply.github.com"
          git checkout -b release
          git add *
          git commit -m "${{ env.RELEASE_NAME }}"
          git remote add origin "https://${{ github.actor }}:${{ secrets.GITHUB_TOKEN }}@github.com/${{ github.repository }}"
          git push -f -u origin release
          rm -rf .git
      - name: Create a release
        id: create_release
        uses: actions/create-release@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          tag_name: ${{ env.TAG_NAME }}
          release_name: ${{ env.RELEASE_NAME }}
          body: |
            Version :  ${{ env.VERSION_NUMBER }}
          draft: false
          prerelease: false
      - name: Upload Full RAW file
        uses: actions/upload-release-asset@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          upload_url: ${{ steps.create_release.outputs.upload_url }}
          asset_path: ./blocked-by-taiwan.txt
          asset_name: blocked-by-taiwan.txt
          asset_content_type: text/plain
      - name: Upload Full AdGuardHome format file
        uses: actions/upload-release-asset@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          upload_url: ${{ steps.create_release.outputs.upload_url }}
          asset_path: ./AdGuardHome/blocked-by-taiwan_AdGuard.txt
          asset_name: blocked-by-taiwan_AdGuard.txt
          asset_content_type: text/plain
      - name: Upload Rewrote Version AdGuardHome format file
        uses: actions/upload-release-asset@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          upload_url: ${{ steps.create_release.outputs.upload_url }}
          asset_path: ./AdGuardHome/blocked-by-taiwan_AdGuard_rewrote.txt
          asset_name: blocked-by-taiwan_AdGuard_rewrote.txt
          asset_content_type: text/plain
